<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{/css/output.css}" >
</head>
<body>
    <div class="container text-3xl text-center">
    <h1 data-th-text="${greeting}"></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos blanditiis nam natus porro ut odio nostrum a, expedita, mollitia officiis facilis modi magni, deserunt dicta quaerat corrupti cupiditate molestiae quas! </p>
</div>
</body>
</html>